<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:if="${err}" class="error-message">
  <p th:text="${err}"></p>
</div>

<div class="container">
  <h1>Đăng Ký</h1>
  <div class="row">
    <div class="col-lg-6">
      <form action="/register" method="post" th:object="${user}">
        <div class="form-group">
          <label>User Name</label>
          <input th:field="*{userName}" type="text" class="form-control" th:classappend="${#fields.hasErrors('userName')} ? 'border-danger' ">
          <small class="form-text text-danger" th:errors="*{userName}"></small>
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input th:field="*{email}" type="text" class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'border-danger' ">
          <small class="form-text text-danger" th:errors="*{email}"></small>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" th:field="*{password}" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'border-danger' ">
          <small class="form-text text-danger" th:errors="*{password}"></small>
        </div>

<!--        <div class="form-group">-->
<!--          <label for="exampleInputPassword1">Phone</label>-->
<!--          <input type="password" th:field="*{phone}" class="form-control" >-->
<!--          <small class="form-text text-danger" th:errors="*{phone}"></small>-->
<!--        </div>-->

        <button type="submit" class="btn btn-primary">Đăng ký</button>
      </form>
    </div>
  </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>